In [1]:
# Dependencies

import csv
import pandas as pd
import os

In [4]:
csvpath = ("Resources/worldometer_coronavirus_summary_data.csv")

In [5]:
coronavirus_summary = pd.read_csv(csvpath)

In [6]:
coronavirus_summary

,country,continent,total_confirmed,total_deaths,total_recovered,active_cases,serious_or_critical,total_cases_per_1m_population,total_deaths_per_1m_population,total_tests,total_tests_per_1m_population,population
0,Afghanistan,Asia,70111,2899.0,57119,10093,1124.0,1765,73.0,462860.0,11654.0,39717807
1,Albania,Europe,132285,2448.0,129097,740,18.0,46013,851.0,710160.0,247017.0,2874947
2,Algeria,Africa,128198,3455.0,89232,35511,26.0,2877,78.0,230861.0,5180.0,44565141
3,Andorra,Europe,13693,127.0,13416,150,12.0,176965,1641.0,193595.0,2501971.0,77377
4,Angola,Africa,33944,749.0,27577,5618,19.0,1005,22.0,569993.0,16872.0,33784208
...,...,...,...,...,...,...,...,...,...,...,...,...
215,Wallis And Futuna Islands,Australia/Oceania,445,7.0,438,0,NaN,40235,633.0,19209.0,1736799.0,11060
216,Western Sahara,Africa,10,1.0,8,1,NaN,16,2.0,NaN,NaN,610555
217,Yemen,Asia,6723,1316.0,3375,2032,23.0,221,43.0,62990.0,2071.0,30417585
218,Zambia,Africa,94430,1275.0,91443,1712,82.0,5010,68.0,1538730.0,81644.0,18846714
219,Zimbabwe,Africa,38918,1592.0,36563,763,1.0,2584,106.0,469122.0,31154.0,15058267

In [8]:
coronavirus_summary.columns = ("Country","Continent","Total Confirmed","Total Deaths","Total Recovered"
                         , "Active Cases","Serious or Critical","Total Cases per 1m Populaiton",
                         "Total Deaths per 1m Population", "Total Tests","Total Tests Per 1m Population", "Population")

In [9]:
coronavirus_summary

,Country,Continent,Total Confirmed,Total Deaths,Total Recovered,Active Cases,Serious or Critical,Total Cases per 1m Populaiton,Total Deaths per 1m Population,Total Tests,Total Tests Per 1m Population,Population
0,Afghanistan,Asia,70111,2899.0,57119,10093,1124.0,1765,73.0,462860.0,11654.0,39717807
1,Albania,Europe,132285,2448.0,129097,740,18.0,46013,851.0,710160.0,247017.0,2874947
2,Algeria,Africa,128198,3455.0,89232,35511,26.0,2877,78.0,230861.0,5180.0,44565141
3,Andorra,Europe,13693,127.0,13416,150,12.0,176965,1641.0,193595.0,2501971.0,77377
4,Angola,Africa,33944,749.0,27577,5618,19.0,1005,22.0,569993.0,16872.0,33784208
...,...,...,...,...,...,...,...,...,...,...,...,...
215,Wallis And Futuna Islands,Australia/Oceania,445,7.0,438,0,NaN,40235,633.0,19209.0,1736799.0,11060
216,Western Sahara,Africa,10,1.0,8,1,NaN,16,2.0,NaN,NaN,610555
217,Yemen,Asia,6723,1316.0,3375,2032,23.0,221,43.0,62990.0,2071.0,30417585
218,Zambia,Africa,94430,1275.0,91443,1712,82.0,5010,68.0,1538730.0,81644.0,18846714
219,Zimbabwe,Africa,38918,1592.0,36563,763,1.0,2584,106.0,469122.0,31154.0,15058267